@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");

body{
    background-color:  #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin{
    display: flex;
    width:300px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 100px auto;
    border: 1px solid #319ec5;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 1px 2px 10px #7cd0ef;
}

.signin-title{
    margin:5px;
    text-shadow:1px 1px 1px #2c95dd; 
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    width:40px;
    border-radius: 50%;
    margin: 0px;
}
.label{
    margin:10px 0px 15px 0px;
    font-weight:600 ;
    font-size: 16px;

}
.field{
    border: 1px solid #dcdcdf ;
    height:25px;
    width: 100%;
}
.btn-signin{
    text-align:center;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color:#2c95dd;
    color: #f3f3fd;
    margin:20px 0px;
    font-size: 12px;
    font-weight: bold;
}
.btn-signin:hover{
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 116, color-stop(1%, #57fdfe), color-stop(100%, #2c95dd));
    background-image: -webkit-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
    background-image: -moz-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
    background-image: -ms-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
    background-image: -o-radial-gradient(center bottom, farthest-side, #57fdfe 1%, #2c95dd 100%);
    background-image: radial-gradient(farthest-side at center bottom, #57fdfe 1%, #2c95dd 100%);
    color: #ffffff;
    text-shadow:0px -3px #2094e1;
}
